{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuário{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Senha'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary" >Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
